.cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}
 
.cards>ul>li {
  background-color: var(--background-color);
}
 
.cards .cards-card-body {
  margin: 16px;
}
 
.cards .cards-card-image {
  line-height: 0;
}
 
.cards>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
 
.cards .cards-card-body>p:first-child {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-transform: uppercase;
}
 
.cards .cards-card-body>p:nth-child(2) {
  font-size: 14px;
  line-height: 21px;
  color: rgb(105, 105, 105);
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 260px;
}
 
#recent-article::after {
  border-bottom: 2px solid var(--brandPrimary, #ffea00);
  content: "";
  display: block;
  padding-top: 8px;
  width: 84px;
}

/* Common social button base */
.cards-card-body a.button[title="Facebook"],
.cards-card-body a.button[title="Instagram"],
.cards-card-body a.button[title="Twitter"],
.cards-card-body a.button[title="X"] {
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 0; 
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
.cards-card-body .button-container {
  display: inline-flex;
  gap: 12px;
}

.cards-card-body a.button {
  white-space: normal;
  line-height: 1.3;
  text-align: center;
}

/* Facebook */
.cards-card-body a[title="Facebook"] {
  mask-image: url('/icons/facebook.svg');
}

/* Instagram */
.cards-card-body a[title="Instagram"] {
  mask-image: url('/icons/instagram.svg');
}

/* Twitter / X */
.cards-card-body a[title="Twitter"],
.cards-card-body a[title="X"] {
  mask-image: url('/icons/twitter.svg');
}
