.articles>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}
 
.articles>ul>li {
  background-color: var(--background-color);
}
 
.articles img {
  line-height: 0;
}

.articles>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.articles p {
    font-size: 14px;
  line-height: 21px;
  color: rgb(105, 105, 105);
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 260px;
}